 .u-section-1 {
  background-image: url("https://assets.nicepagecdn.com/914609b2/5376764/images/a2.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 502px;
}

.u-section-1 .u-image-1 {
  height: 295px;
  width: 1041px;
  margin: 95px auto 0 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: repeat(2, auto);
  margin-top: -23px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 0px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 386px;
  }

  .u-section-1 .u-image-1 {
    height: 313px;
    width: 940px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 279px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 324px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 183px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 273px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 104px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 216px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 16px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 988px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  margin: 60px auto 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: repeat(2, auto);
  margin-top: 78px;
  margin-bottom: 49px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(2, 50%);
  min-height: 2038px;
  grid-gap: 0px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 255px;
  height: 373px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-1 {
  width: 255px;
  min-height: 308px;
  margin: -308px 0 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 0 20px 25px;
}

.u-section-2 .u-text-2 {
  margin: 0;
}

.u-section-2 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px 0 0;
  padding: 5px 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  width: 255px;
  height: 373px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-2 {
  width: 255px;
  min-height: 308px;
  margin: -308px 0 0 auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 0 20px 25px;
}

.u-section-2 .u-text-3 {
  margin: 0;
}

.u-section-2 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px 0 0;
  padding: 5px 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  width: 255px;
  height: 373px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-3 {
  width: 255px;
  min-height: 308px;
  margin: -308px 0 0 auto;
}

.u-section-2 .u-container-layout-6 {
  padding: 0 0 20px 25px;
}

.u-section-2 .u-text-4 {
  margin: 0;
}

.u-section-2 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px 0 0;
  padding: 5px 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-image-4 {
  width: 255px;
  height: 373px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-4 {
  width: 255px;
  min-height: 308px;
  margin: -308px 0 0 auto;
}

.u-section-2 .u-container-layout-8 {
  padding: 0 0 20px 25px;
}

.u-section-2 .u-text-5 {
  margin: 0;
}

.u-section-2 .u-btn-4 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px 0 0;
  padding: 5px 0;
}

.u-section-2 .u-container-layout-9 {
  padding: 30px;
}

.u-section-2 .u-image-5 {
  width: 255px;
  height: 373px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-5 {
  width: 255px;
  min-height: 308px;
  margin: -308px 0 0 auto;
}

.u-section-2 .u-container-layout-10 {
  padding: 0 0 20px 25px;
}

.u-section-2 .u-text-6 {
  margin: 0;
}

.u-section-2 .u-btn-5 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px 0 0;
  padding: 5px 0;
}

.u-section-2 .u-container-layout-11 {
  padding: 30px;
}

.u-section-2 .u-image-6 {
  width: 255px;
  height: 373px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-6 {
  width: 255px;
  min-height: 308px;
  margin: -308px 0 0 auto;
}

.u-section-2 .u-container-layout-12 {
  padding: 0 0 20px 25px;
}

.u-section-2 .u-text-7 {
  margin: 0;
}

.u-section-2 .u-btn-6 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px 0 0;
  padding: 5px 0;
}

.u-section-2 .u-container-layout-13 {
  padding: 30px;
}

.u-section-2 .u-image-7 {
  width: 255px;
  height: 373px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-7 {
  width: 255px;
  min-height: 308px;
  margin: -308px 0 0 auto;
}

.u-section-2 .u-container-layout-14 {
  padding: 0 0 20px 25px;
}

.u-section-2 .u-text-8 {
  margin: 0;
}

.u-section-2 .u-btn-7 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px 0 0;
  padding: 5px 0;
}

.u-section-2 .u-container-layout-15 {
  padding: 30px;
}

.u-section-2 .u-image-8 {
  width: 255px;
  height: 373px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-8 {
  width: 255px;
  min-height: 308px;
  margin: -308px 0 0 auto;
}

.u-section-2 .u-container-layout-16 {
  padding: 0 0 20px 25px;
}

.u-section-2 .u-text-9 {
  margin: 0;
}

.u-section-2 .u-btn-8 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px 0 0;
  padding: 5px 0;
}

.u-section-2 .u-container-layout-17 {
  padding: 30px;
}

.u-section-2 .u-image-9 {
  width: 255px;
  height: 373px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-9 {
  width: 255px;
  min-height: 308px;
  margin: -308px 0 0 auto;
}

.u-section-2 .u-container-layout-18 {
  padding: 0 0 20px 25px;
}

.u-section-2 .u-text-10 {
  margin: 0;
}

.u-section-2 .u-btn-9 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px 0 0;
  padding: 5px 0;
}

.u-section-2 .u-container-layout-19 {
  padding: 30px;
}

.u-section-2 .u-image-10 {
  width: 255px;
  height: 373px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-10 {
  width: 255px;
  min-height: 308px;
  margin: -308px 0 0 auto;
}

.u-section-2 .u-container-layout-20 {
  padding: 0 0 20px 25px;
}

.u-section-2 .u-text-11 {
  margin: 0;
}

.u-section-2 .u-btn-10 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px 0 0;
  padding: 5px 0;
}

.u-section-2 .u-container-layout-21 {
  padding: 30px;
}

.u-section-2 .u-image-11 {
  width: 255px;
  height: 373px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-11 {
  width: 255px;
  min-height: 308px;
  margin: -308px 0 0 auto;
}

.u-section-2 .u-container-layout-22 {
  padding: 0 0 20px 25px;
}

.u-section-2 .u-text-12 {
  margin: 0;
}

.u-section-2 .u-btn-11 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px 0 0;
  padding: 5px 0;
}

.u-section-2 .u-container-layout-23 {
  padding: 30px;
}

.u-section-2 .u-image-12 {
  width: 255px;
  height: 373px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-12 {
  width: 255px;
  min-height: 308px;
  margin: -308px 0 0 auto;
}

.u-section-2 .u-container-layout-24 {
  padding: 0 0 20px 25px;
}

.u-section-2 .u-text-13 {
  margin: 0;
}

.u-section-2 .u-btn-12 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px 0 0;
  padding: 5px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    min-height: 1680px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-2 .u-btn-1 {
    width: 99px;
    height: 33px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 0;
  }

  .u-section-2 .u-btn-2 {
    width: 99px;
    height: 33px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 0;
  }

  .u-section-2 .u-btn-3 {
    width: 99px;
    height: 33px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 0;
  }

  .u-section-2 .u-btn-4 {
    width: 99px;
    height: 33px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 0;
  }

  .u-section-2 .u-btn-5 {
    width: 99px;
    height: 33px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 0;
  }

  .u-section-2 .u-btn-6 {
    width: 99px;
    height: 33px;
  }

  .u-section-2 .u-container-layout-13 {
    padding-left: 0;
  }

  .u-section-2 .u-btn-7 {
    width: 99px;
    height: 33px;
  }

  .u-section-2 .u-container-layout-15 {
    padding-left: 0;
  }

  .u-section-2 .u-btn-8 {
    width: 99px;
    height: 33px;
  }

  .u-section-2 .u-container-layout-17 {
    padding-left: 0;
  }

  .u-section-2 .u-btn-9 {
    width: 99px;
    height: 33px;
  }

  .u-section-2 .u-container-layout-19 {
    padding-left: 0;
  }

  .u-section-2 .u-btn-10 {
    width: 99px;
    height: 33px;
  }

  .u-section-2 .u-container-layout-21 {
    padding-left: 0;
  }

  .u-section-2 .u-btn-11 {
    width: 99px;
    height: 33px;
  }

  .u-section-2 .u-container-layout-23 {
    padding-left: 0;
  }

  .u-section-2 .u-btn-12 {
    width: 99px;
    height: 33px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 30px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 30px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 30px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 30px;
  }

  .u-section-2 .u-container-layout-13 {
    padding-left: 30px;
  }

  .u-section-2 .u-container-layout-15 {
    padding-left: 30px;
  }

  .u-section-2 .u-container-layout-17 {
    padding-left: 30px;
  }

  .u-section-2 .u-container-layout-19 {
    padding-left: 30px;
  }

  .u-section-2 .u-container-layout-21 {
    padding-left: 30px;
  }

  .u-section-2 .u-container-layout-23 {
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    margin-top: 100px;
    margin-bottom: 46px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-2 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-2 .u-group-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-2 .u-group-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-2 .u-group-4 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-2 .u-group-5 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-2 .u-group-6 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-2 .u-group-7 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-14 {
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-2 .u-group-8 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-16 {
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-2 .u-group-9 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-18 {
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-19 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-2 .u-group-10 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-20 {
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-21 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-2 .u-group-11 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-22 {
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-23 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-2 .u-group-12 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-24 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }
}.border-bottom-violet {
	border-bottom: 8px #6d3d98 solid;
}